{% extends 'base.html' %}

{% block title %}Les articles en stock - Carter Cash{% endblock %}

{% block content %}

<body class="body-article-list">
  <div class="top-article-list">
    <h1 class="shadow p-3 mb-5 bg-body rounded ">La liste des articles disponibles dans nos magasins </h1>

  </div>
  <div class="article-table">
    <table class="table table-light table-striped table-bordered">
      <thead>
        <tr class="table-dark">
          <th class="table-top" scope="col">Nom de l'Article</th>
          <th class="table-top" scope="col">Date d'ajout</th>
          <th class="table-top" scope="col">Ville de l'article </th>
          <th class="table-top" scope="col">Type de pièce</th>
          <th class="table-top text-end" scope="col"> <a href="{% url 'Article_add' %}" type="button"
              class="btn btn-secondary btn-sm">Ajouter un article</a>
          </th>
          <caption>La table des articles actuellement présents dans la base de données du Carter Cash</caption>
        </tr>
      </thead>
      {% for Article in Articles %}
      <tr>
        <td class="table-bot">{{ Article.name}}</td>
        <td class="table-bot">{{ Article.date_ajout }}</td>
        <td class="table-bot">{{ Article.ville.name }}</td>
        <td class="table-bot">{{ Article.piece.name }}</td>
        <td class="table-top text-end"> <a href="{% url 'Article_change' Article.pk %}" type="button"
            class="btn btn-outline-success btn-sm"> Mettre à jour </a> <a href="{%url 'Article_delete' Article.pk %}"
            type="button" class="btn btn-danger btn-sm"> Supprimer </a>
        </td>
      </tr>
      <div class="container">
 
      <div class="card mb-3" style="max-height: 400px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{Article.article_image.url}}" class="card-img-top" alt="Responsive image" style="max-height: 300px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ Article.name}}</h5>
              <p class="card-text"> Ce article se trouve dans la ville: {{ Article.ville.name }} </p>
              <p class="card-text"> {{ Article.piece.name }} </p>

              <p class="card-text"><small class="text-muted"> Date d'ajout: {{ Article.date_ajout }}</small></p>
            </div>
          </div>
        </div>
      </div>

      {% empty %}
    </table>
    <tr>
      <td colspan="4">Aucun article, votre base de données est vide ! <a href="{% url 'Article_add' %}"> Ajouter le
          premiere article</article></a>.</td>
    </tr>
  </div>
  {% endfor %}
  
</body>
{% endblock %}