{% extends 'base.html' %}

{% block title %}Les pièces en stock - Carter Cash{% endblock %}

{% block content %}
  <h2>Toutes les pièces disponibles dans nos magasins :</h2>

  <p>
    <a href="{% url 'Article_add' %}">Ajouter une pièce</a>
  </p>

  <table border="1">
    <thead>
      <tr>
        <th>Nom de la pièce</th>
        <th>Date d'ajout</th>
        <th>Référence constructeur</th>
        <th>Ville</th>
        <th>Pièce</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
        <tr>
          <td><a href="{% url 'Article_change' Article.pk %}">{{ Article.nom_piece }}</a></td>
          <td>{{ Article.date_ajout }}</td>
          <td>{{ Article.piece.nom_piece }}</td>
          <td>{{ Article.ville.nom_piece }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">Votre base de données est vide ! <a href="{% url 'Article_add' %}"> Ajouter la premiere piéce</a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}