{% extends 'base.html' %}

{% block title %}Les pièces en stock - Carter Cash{% endblock %}

{% block content %}
  <h2>Toutes les pièces disponibles dans nos magasins :</h2>

  <p>
    <a href="{% url 'Article_add' %}">Ajouter une pièce</a>
  </p>

  <table border="1">
    <thead>
      <tr>
        <th>Article</th>
        <th>Date d'ajout</th>
        <th>Ville</th>
        <th>Pièce</th>
      </tr>
    </thead>
    <tbody>
      {% for Article in Articles %}
        <tr>
          <td><a href="{% url 'Article_change' Article.pk %}">{{ Article.name}}</a></td>
          <td>{{ Article.date_ajout }}</td>
          <td>{{ Article.ville.name }}</td>
          <td>{{ Article.piece.name }}</td>     
          <td><a href="{%url 'Article_delete' Article.pk %}"> Delete </a> 
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">Votre base de données est vide ! <a href="{% url 'Article_add' %}"> Ajouter le premiere article</article></a>.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}