{% extends 'base.html' %}

{% block content %}
<h2> Ajouter / Modifier une piéce : </h2>
  <form class="quest" method="post" action="">
    {% csrf_token %}
    
    {{form.as_p}}
    
    <input type="submit" name="" value="Valider">
    
  </form>

  <form method="post" id="ArticleForm" data-piece-url="{% url 'ajax_load_piece' %}" novalidate>
    <a class="btn btn-secondary"href="/user">Retour</a>
  </form>
  

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_ville").change(function () {
      var url = $("#ArticleForm").attr("data-piece-url");  
      var villeId = $(this).val();  

      $.ajax({                      
        url: url,                    
        data: {
          'ville': villeId       
        },
        success: function (data) {  
          $("#id_piece").html(data);  
        }
      });

    });
  </script>


{% endblock %}