{% extends 'base.html' %}
{% load static %}

{% block title %}Toutes les pieces - Carter Cash{% endblock %}

{% block content %}
<head>
  <title> Carter Cash</title>
  <link rel="stylesheet" href=" {% static 'css/styles.css' %} ">
</head>

<body class="home-page-back">
<div>
    <header>
 
    </header>
  
    <main>
      <h1 class="title-home">Carter Cash</h1>
      <p class="text-bott-home">Leader des pièces détachées auto neuves et d'origine au meilleur prix</p>
      <p>
      </p>
    </main>

</body>
{% endblock %}
