html,
body {
  min-height: 100%;
}

.form-articles {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  font-family: "Hind Siliguri", sans-serif;
}

.button-valid {
  text-align: center;
  margin-top: 7%;
  font-family: "Quicksand", sans-serif;
}

.body-article-list {
  background-color: #f6f6f6;
  background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
}

.titre-form-article {
  text-align: center;
  font-size: 3em;
  font-family: "Quicksand", sans-serif;
  margin-top: 3%;
}

.navbar-brand {
  font-family: "Quicksand";
}

.nav-link {
  font-family: "Hind Siliguri";
}

.d-flex {
  font-family: "Quicksand";
}

.table-top {
  font-family: "Quicksand";
}

.table-bot {
  font-family: "Hind Siliguri";
}

.article-table {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
}

.top-article-list {
  font-family: "Quicksand";
  text-align: center;
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 5%;
}

.title-home {
  text-align: Center;
  margin-top: 17%;
  font-family: "Quicksand";
  font-size: 8em;
}

.text-bott-home {
  text-align: center;
  font-size: 2em;
  font-family: "Hind Siliguri";
}

.home-page-back {
  background-color: #d9e4f5;
  background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);
}

.btn {
  font-family: "Quicksand";
}

thead {
  font-family: "Quicksand";
}
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Poppins:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap");
